{% extends "basetemplate.html" %}

{% block staticFile %}
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock staticFile %}

{% block body %}
	<div class="container" id="errorContainer">
		{% for message in messages %}
			<p id="message">{{message}}</p>
		{% endfor %}
	</div>
	<div class="container">
		<form class="" method="post" id="loginForm">
			{% csrf_token %}
			<div class="">
				<label for="uname"><strong>Username</strong></label>
				{{loginForm.username}}
			</div>
			<div class="">
				<label for="psw"><strong>Password</strong></label>
				{{loginForm.password}}
			</div>
			<div class="">
				<button class="btn btn-info" type="submit">Login</button>
				{% if userRole == "Candidate" %}
				<a class="btn btn-primary" href="/candidate/registration">Register</a>
				{% elif userRole == "Company" %}
				<a class="btn btn-primary" href="/company/registration">Register</a>
				{% endif %}
			</div>
		</form>
	</div>
{% endblock body %}
