<!DOCTYPE html>
<html lang="en">
<head>
  <title>Job Analytica</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/navbarmenu.css' %}">
</head>
<body>
<div class="">
	<nav class="navbar navbar-expand-md bg-primary navbar-dark">
	  <a class="navbar-brand" href="#">Job Analytica</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
		    <li class="nav-item">
		        <a class="nav-link" href="#">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Company</a>
		      </li>
		    <li class="nav-item">
				  <a class="nav-link" href="#">Applicant</a>
		    </li>
			{% if isLogged %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="login/" id="navbardrop" data-toggle="dropdown">
				  Logged In
				</a>
				<div class="dropdown-menu">
				{% if userRole == "Company" %}
				  <a class="dropdown-item" href="/company/logout/">Logout</a>
				{% elif userRole == "Candidate" %}
  				  <a class="dropdown-item" href="/candidate/logout/">Logout</a>
				{% endif %}
				</div>
	  		</li>
			{% else %}
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		        Login
		      </a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item" href="/candidate/login/">Candidate</a>
		        <a class="dropdown-item" href="/company/login/">Company</a>
		      </div>
	    	</li>
			{% endif %}
	    </ul>
	  </div>
	</nav>
	<br>
</div>
</body>
</html>
