{% extends "basetemplate.html" %}

{% block staticFile %}
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/candidate/candidatehomepage.css' %}">
{% endblock staticFile %}

{% block body %}
	<div class="container" id="errorContainer">
		{% for message in messages %}
			<p id="message">{{message}}</p>
		{% endfor %}
	</div>
	<div class="container">
		{% for jobPost in jobPosts %}
		<div class="container" id="jobPost" style="padding: 20px;">
			<div class="col">
				<div class="row">
					<div class="col"><h6>Company Name: {{jobPost.company.name}}</h6></div>
					<div class="col">Position: {{jobPost.position}}</div>
					<div class="col">Technology: {{jobPost.technology}}</div>
					<div class="col"><a href="/apply/{{jobPost.jobId}}/">Apply</a></div>
				</div>
				<div class="row" style="padding: 15px;">
					<div class="col">{{jobPost.description}}</div>
				</div>
				<div class="row">
					<div class="col">Experience: {{jobPost.experience}}</div>
					<div class="col">Salary: {{jobPost.salary}} BDT</div>
					<div class="col">Deadline: {{jobPost.deadline}}</div>
				</div>
			</div>
		</div>
		<br>
		{% endfor %}
	</div>
	<br>
{% endblock body %}
